
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
 
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <title><%= title %></title>
 </head>
 <body>
     <h4><i>Addauthor here</i></h4>
   
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-12 col-sm-6" style="margin-top: 55px">
                <form action="/readauthorApi" method="POST" style="border: 1px solid rgb(194, 73, 73);padding: 30px">
                    <div class="form-group row">
                    <label for="title" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-12">
                    <input type="text" class="form-cotrol" name="name">
                    </div>
                   </div>
                   <div class="form row">
                         <label for="author" class="col-sm-3 col-form-label">Place</label>
                         <div class="col-sm-12">
                         <input type="text" class="form-cotrol" name="place">
                         </div>
                        </div>
                        <div class="form row">
                             <label for="publisher" class="col-sm-3 col-form-label">Date of birth</label>
                             <div class="col-sm-12">
                             <input type="date" class="form-cotrol" name="dob">
                             </div>
                            </div> 
                  
                              <div class="form row">
                     <label for="dop" class="col-sm-3 col-form-label">Image</label>
                     <div class="col-sm-12">
                     <input type="text" name="img" id="" class="form-control">
                     </div>
                 </div> 
                
                   <div class="form row">
                     <div class="col-sm-8"></div> 
                       <div class="col-sm-6">   
                       <button type="submit" class="btn btn-success">Submit</button>
                       </div>
                   </div>
                </form>
               
             </div>
         </div>
     </div>   
 
 </body>
 </html>
 
 </body>
 </html>
     
 
   
 
 </body>
 </html>
 